{% extends "base.html" %} {% block content %}
{% macro render_text_field(field) %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
        <label class="col-sm-4">{{field.label}}</label>
        <div class="col-sm-8">
            <input class="col-sm-12" id="{{field.id}}" name="{{field.id}}" value="{{field.data or ""}}" type="text"  placeholder="{{field.description}}"></input>

	        {% if field.errors %}
	            {% for error in field.errors %}
	                <span id="helpBlock2" class="help-block">{{error}}</span>
	            {% endfor %}
	        {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_bootstrap_field(field) %}

    {% set form_class = 'form-group' %}
    {% if field.errors %}
        {% set form_class=form_class+" has-error" %}
    {% endif %}
    {% if field.description=="hidden" %}
        {% set form_class=form_class+" hidden" %}
    {% endif %}
    <div class="{{form_class}}">
        <label  class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            {% if field.type=="PasswordField" %}
                <input id="{{field.id}}" name="{{field.id}}" value="" type="password" placeholder="{{field.description}}"></input>
            {% elif field.type=="BooleanField" %}
                <input id="{{field.id}}" name="{{field.id}}" type="checkbox"></input>
            {% elif field.type=="SelectField" %}
                <dd>{{ field(**kwargs)|safe }}
            {% elif field.description=="static" and field.data != None %}
                <input id="{{field.id}}" name="{{field.id}}" value="{{field.data}}" type="text"  placeholder="{{field.description}}" readonly></input>
            {% else %}
                {% if field.data != None %}
                    <input id="{{field.id}}" name="{{field.id}}" value="{{field.data}}" type="text"  placeholder="{{field.description}}"></input>
                {% else %}
                    <input id="{{field.id}}" name="{{field.id}}" value="" type="text"  placeholder="{{field.description}}"></input>
                {% endif %}
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span id="helpBlock2" class="help-block">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endmacro %}


{% macro render_bootstrap_form(form,action_url,action_button_name) %}
<form class="form-horizontal"  method=post action="{{action_url}}">
    {% for field in form.field_items %}
    {{ render_bootstrap_field(form[field]) }}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button class="btn btn-img" type=submit value="{{action_button_name}}">{{action_button_name}}</button>
        </div>
    </div>
</form>
{% endmacro %}
<div class="col-md-offset-2 col-md-8 container">
  <div class="row well">
    <div class="col-md-offset-1 col-md-10">
      <div class="sidebar-nav panel panel-default" style="height:33%; padding:0px">
        <div class="panel-heading">
          <b>{{form_header}}</b>

        </div>
        <div class="panel-body" style="overflow:auto;height:80%;">
            {{render_bootstrap_form(form,request.path,confirm_button)}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
